.topbar-wrapper img[alt="Swagger UI"],
.topbar-wrapper .link span {
    display: none !important;
}

.topbar-wrapper .link:after {
    content: "";
    display: inline-block;
    width: 150px; /* szerokość logo */
    height: 40px; /* wysokość dostosowana do navbar */
    background: url('/logo.png') no-repeat center center;
    background-size: contain;
    vertical-align: middle; /* wyrównanie w pionie */
    margin-left: 10px; /* opcjonalne przesunięcie od lewej */
}
